<!--slider area start-->
<section class="slider_section mb-80">
    <div class="slider_area slider_carousel owl-carousel">

        <div class="single_slider d-flex align-items-center" data-bgimg="NewThem/assets/img/slider/slider1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1>تخفیف بزرگ <span>لوازم جانبی خودرو در  فروشگاه زنجانی</span></h1>
                            <p>پیشنهاد انحصاری -30% تخفیف این هفته</p>
                            <a class="button" href="shop.html">
                                اکنون خرید کنید <i class="fa fa-angle-double-left"
                                                   aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="NewThem/assets/img/slider/slider2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content center">
                            <h1>لوازم جانبی <span>انواع تریلر تراکتور</span></h1>
                            <p>پیشنهاد انحصاری -30% تخفیف این هفته</p>
                            <a class="button" href="shop.html">
                                اکنون خرید کنید <i class="fa fa-angle-double-left"
                                                   aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="NewThem/assets/img/slider/slider3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1>بالاترین <span>داخل خودرو جدید</span> </h1>
                            <p>پیشنهاد انحصاری -20% تخفیف این هفته</p>
                            <a class="button" href="shop.html">
                                اکنون خرید کنید <i class="fa fa-angle-double-left"
                                                   aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->