

<header>
    <div class="main_header">
        <!--header top start-->
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5">
                        <div class="header_account">
                            <ul>
                                <li class="language">
                                    <a href="#">
                                        <img src="~/NewThem/assets/img/logo/language.png" alt="">
                                        فارسی <i class="ion-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown_language">
                                        <li><a href="#">فارسی</a></li>
                                        <li><a href="#">انگلیسی</a></li>
                                        <li><a href="#">عربی</a></li>
                                    </ul>
                                </li>
                                <li class="currency">
                                    <a href="#">تومان <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">دینار</a></li>
                                        <li><a href="#">تومان</a></li>
                                        <li><a href="#">دلار</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="header_top_links text-right">
                            <ul>
                                <li><a asp-area="" asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Login">ورود</a></li>
                                <li><a asp-area="" asp-controller="Basket" asp-action="Index">سبد خرید</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->
        <!--header middel start-->
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                        <div class="logo">
                            <a href="~/"><img src="~/NewThem/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-6 col-sm-6 col-6">
                        <div class="header_right_box">
                            <div class="search_container">
                                <form action="#">
                                    <div class="hover_category">
                                        <select class="select_option" name="select" id="categori2">
                                            <option selected value="1">همه دسته بندی ها</option>
                                            <option value="2">لوازم جانبی</option>
                                            <option value="3">لوازم جانبی و موارد دیگر</option>
                                            <option value="4">کره و تخم مرغ</option>
                                            <option value="5">دوربین و ویدئو</option>
                                            <option value="6">صفحه نمایش</option>
                                            <option value="7">تبلت</option>
                                            <option value="8">لبتاب</option>
                                            <option value="9">کیف های دستی</option>
                                            <option value="10">هدفون و بلندگو</option>
                                            <option value="11">گیاهان و گیاهان دارویی</option>
                                            <option value="12">سبزیجات</option>
                                            <option value="13">خرید</option>
                                            <option value="14">لبتاب و دسکتاپ</option>
                                            <option value="15">ساعت</option>
                                            <option value="16">الکترونیک</option>
                                        </select>
                                    </div>
                                    <div class="search_box">
                                        <input placeholder="جستجوی محصول ..." type="text">
                                        <button type="submit">محصول</button>
                                    </div>
                                </form>
                            </div>
                            <div class="header_configure_area">
                                <div class="header_wishlist">
                                    <a href="wishlist.html">
                                        <i class="icon-heart"></i>
                                        <span class="wishlist_count">3</span>
                                    </a>
                                </div>

                                @await Component.InvokeAsync("BasketComponent")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->
        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class=" col-lg-3">
                        <div class="categories_menu">
                            <div class="categories_title">
                                <h2 class="categori_toggle">همه دسته بندی ها</h2>
                            </div>
                            <div class="categories_menu_toggle">
                                @await Component.InvokeAsync("CategoriesMenu")

                                <ul class="d-none">
                                    <li class="menu_item_children">
                                        <a href="#">
                                            قطعات ترمز <i class="fa fa-angle-left"></i>
                                        </a>
                                        <ul class="categories_mega_menu">
                                            <li class="menu_item_children">
                                                <a href="#">لباس ها</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="#">ژاکت</a></li>
                                                    <li><a href="#">عصر</a></li>
                                                    <li><a href="#">روز</a></li>
                                                    <li><a href="#">ورزش</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">کیف های دستی</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="#">شانه</a></li>
                                                    <li><a href="#">کوله ها</a></li>
                                                    <li><a href="#">بچه ها</a></li>
                                                    <li><a href="#">پالتو</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">کفش</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="#">چکمه های مچ پا</a></li>
                                                    <li><a href="#">صندل پاپوش </a></li>
                                                    <li><a href="#">دویدن</a></li>
                                                    <li><a href="#">کتاب ها</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">لباس</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="#">کت</a></li>
                                                    <li><a href="#">کت های بارانی</a></li>
                                                    <li><a href="#">ژاکت</a></li>
                                                    <li><a href="#">تی شرت</a></li>
                                                    <li><a href="#">کت</a></li>
                                                    <li><a href="#">کت های بارانی</a></li>
                                                    <li><a href="#">ژاکت</a></li>
                                                    <li><a href="#">تی شرت</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu_item_children">
                                        <a href="#">
                                            چرخ و لاستیک <i class="fa fa-angle-left"></i>
                                        </a>
                                        <ul class="categories_mega_menu column_3">
                                            <li class="menu_item_children">
                                                <a href="#">صندلی</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="#">اتاق غذاخوری</a></li>
                                                    <li><a href="#">اتاق خواب</a></li>
                                                    <li><a href="#"> خانه و محل کار</a></li>
                                                    <li><a href="#">اتاق نشیمن</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">نور</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="#">نورپردازی سقف</a></li>
                                                    <li><a href="#">نورپردازی دیوار</a></li>
                                                    <li><a href="#">نورپردازی در فضای باز</a></li>
                                                    <li><a href="#">نورپردازی هوشمند</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu_item_children">
                                                <a href="#">مبل</a>
                                                <ul class="categorie_sub_menu">
                                                    <li><a href="#">مبل های پارچه ای</a></li>
                                                    <li><a href="#">مبل های چرمی</a></li>
                                                    <li><a href="#">مبل های گوشه ای</a></li>
                                                    <li><a href="#">مبل تخت خواب شو</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>


                                    <li><a href="#">نورپردازی</a></li>
                                    <li><a href="#">لوازم جانبی</a></li>
                                    <li><a href="#">اجزای بدنه</a></li>
                                    <li><a href="#">شبکه کردن</a></li>
                                    <li><a href="#">فیلترهای عملکرد</a></li>
                                    <li><a href="#">قطعات موتور</a></li>
                                    <li class="hidden"><a href="shop-left-sidebar.html">مبل های جدید</a></li>
                                    <li class="hidden"><a href="shop-left-sidebar.html">مبل های شیک</a></li>
                                    <li>
                                        <a href="#" id="more-btn">
                                            <i class="fa fa-plus" aria-hidden="true"></i>دسته
                                            بندی های بیشتر
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main_menu menu_position text-left">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active" href="~/">خانه<i class="fa fa-angle-down d-none"></i></a>
                                        <ul class="sub_menu d-none">
                                            <li><a href="index.html">خانه 1</a></li>
                                            <li><a href="index-2.html">خانه 2</a></li>
                                            <li><a href="index-3.html">خانه 3</a></li>
                                            <li><a href="index-4.html">خانه 4</a></li>
                                        </ul>
                                    </li>
                           

                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="contact.html"> تماس با ما</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="call_support text-right">
                            <p>
                                <i class="icon-phone-call" aria-hidden="true"></i> <span>
                                    تماس با ما: <a href="tel:09124918349">09124918349</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </div>
</header>
<!--header area end-->