   <!--banner area start-->
<div class="banner_area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="welcome_title">

                    <h2> <span>خرید آنلاین فروشگاه لوازم یدکی خودرو زنجانی</span></h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="~/NewThem/assets/img/bg/banner1.jpg" alt=""></a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="~/NewThem/assets/img/bg/banner2.jpg" alt=""></a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="~/NewThem/assets/img/bg/banner3.jpg" alt=""></a>
                    </div>
                </figure>
            </div>

        </div>
    </div>
</div>
<!--banner area end-->
