@page
@model Admin.EndPoint.Pages.CatalogType.EditModel
@{
    ViewData["Title"] = " ویرایش دسته بندی";
}

<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4> ویرایش دسته بندی </h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form asp-page="edit" method="post" enctype="multipart/form-data">
                @if (Model.Message != null)
                {
                    @foreach (var item in Model.Message)
                    {
                        <div class="alert alert-info">
                            <p>@item</p>
                        </div>
                    }
                }


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-xl-4 col-lg-4 col-sm-12 mb-1">
                    <label asp-for="CatalogType.Type"> </label>
                    <input type="text" class="form-control" asp-for="CatalogType.Type">

                    <input type="hidden" class="form-control" asp-for="CatalogType.ParentCatalogTypeId">
                    <span asp-validation-for="CatalogType.Type" class="text-danger"></span>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-12 mb-1">
                    <fieldset class="form-group">
                        <label for="basicInput">تصاویر </label>
                        <input type="file" class="form-control" name="Files" id="Files">
                    </fieldset>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-12 mb-1">
                    <fieldset class="form-group">
                        <label for="basicInput">اولویت </label>
                        <select type="number" asp-for="CatalogType.SortIndex" class="form-control">
                            <option value="1">عادی</option>
                            <option value="2">صفحه اصلی</option>
                            <option value="3">ویژه</option>
                        </select>
                    </fieldset>
                </div>
                <input type="hidden" asp-for="CatalogType.ParentCatalogTypeId" />
                <input type="hidden" asp-for="CatalogType.Id" />
                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}