
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="~/">خانه</a></li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--about bg area start-->
<div class="about_bg_area">
    <div class="container">
        <!--about section area -->
        <section class="about_section mb-60">
            <div class="row align-items-center">
                <div class="col-12">
                    <figure>
                        <div class="about_thumb">
                            <img src="~/NewThem/assets/img/about/about1.jpg" alt="">
                        </div>
                        <figcaption class="about_content">
                            <h1>ما یک فروشگاه تامین کننده مستقیم قطعات لوازم یدکی خودرو هستیم که ادعا می نماییم که قطعات را با بهترین کیفیت و نازلترین قیمت در اختیار مصرف کننده قرار می دهیم .</h1>
                            <p>تمامی کالاها و خدمات  دارای مجوز های لازم از مراجع مربوطه می باشند و فعالیت های این سایت تابع قوانین و مقررات جمهوری اسلامی ایران می باشد.</p>
                            <div class="about_signature">
                                <img src="~/NewThem/assets/img/about/about-us-signature.png" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <!--about section end-->
        <!--chose us area start-->
        <div class="choseus_area" data-bgimg="assets/img/about/about-us-policy-bg.jpg">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="~/NewThem/assets/img/about/About_icon1.png" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>عرضه مستقیم کالا </h3>
                            <p>ارائه و تامین نیاز مشتری در فروشگاه لوازم یدکی زنجانی به طور مستقیم از کارخانه به درب منزل مصرف کننده نهایی می باشد </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="~/NewThem/assets/img/about/About_icon2.png" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>100% ضمانت برگشت پول</h3>
                            <p>ما این اطمینان را می دهیم تا درصورتی که مشتری از کیفیت قطعه ناراضی باشد به طور کامل وجه دریافتی عودت می شود</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="~/NewThem/assets/img/about/About_icon3.png" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>پشتیبانی آنلاین 24/7</h3>
                            <p>با ارسال تیکت و پاسخ گویی به هنگام ، کارشناسان این فروشگاه جوابگوی مهربان مشتریان عزیز می باشند. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--chose us area end-->
        <!--services img area-->
        <div class="about_gallery_section mb-55">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/NewThem/assets/img/about/about2.jpg" alt="">
                            </div>
                            <figcaption class="about_gallery_content">
                                <h3>چه کار کنیم؟</h3>
                                <p> به راحتی و فقط با جستجوی نام قطعه و یا اعمال فیلتر بر روی برند یا دسته بندی دلخواه، قطعه را سفارش و  در درب منزل دریافت نمایید. </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/NewThem/assets/img/about/about3.jpg" alt="">
                            </div>
                            <figcaption class="about_gallery_content">
                                <h3>ماموریت ما</h3>
                                <p>تامین قطعات درخواستی مشتری ، ارسال به هنگام و پشتیبانی پس از فروش و بازخورد گیری از رضایت مشتریان عزیز می باشد </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/NewThem/assets/img/about/customer-services-495x321.jpg" alt="">
                            </div>
                            <figcaption class="about_gallery_content">
                                <h3>تاریخچه ما</h3>
                                <p>بیش از 25 سال سابقه در تامین قطعات واقع در تهران بهارستان ، خیابان ملت ، فروشگاه لوازم یدکی زنجانی در خدمت مشتریان عزیز بوده ایم   </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
        <!--services img end-->

    </div>
</div>
<!--about bg area end-->
