@using Application.Discounts.AddNewDiscountServices
@using Application.Dtos
@model PaginatedItemsDto<AddNewDiscountDto>
@{
    ViewData["Title"] = "تخفیف ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>تخفیف ها</h1>
