@model Application.PostalProducts.Dto.AddPostalProductDto
@{
    ViewData["Title"] = "ثبت مشخصات پستی محصول";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout-px-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
        <form id="work-experience" class="section work-experience">
            <div class="info">

                <div class="row">
                    <div class="col-md-11 mx-auto">

                        <div class="work-section">
                            <div class="row">
                                <input asp-for="Id" type="hidden" />

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="degree3">نام شرکت تحویل گیرنده بسته</label>
                                                <input type="text" class="form-control mb-4" id="degree3" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>تاریخ تحویل  بسته</label>
                                            <div class="input-group">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text cursor-pointer" id="date5"><i class='fas fa-calendar-alt' style='font-size:24px;color:forestgreen'></i></span>
                                                </div>
                                                <input id="InsertDate" name="InsertDate"  type="hidden" />
                                                <input type="text" id="StartDateFake" class="form-control" aria-label="date5" aria-describedby="date5" placeholder="زمان تحویل ... " />

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="degree3">نام کارمند تحویل گیرنده پست</label>
                                                <input type="text" class="form-control mb-4" id="degree3" value="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="degree4">شماره ثبتی اینترنتی پست</label>
                                                <input type="text" class="form-control mb-4" id="degree4" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          

                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="توضیحات" rows="10"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Styles{

    <link href="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <!--  END CUSTOM STYLE FILE  -->

}

@section Scripts{

    <!-- END PAGE LEVEL SCRIPTS -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <script src="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->

    <script type="text/javascript">
  
        $('#date5').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFake',
            targetDateSelector: '#InsertDate',
            groupId: 'date5',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true
        });


    </script>
}