@using Application.Orders.Dto
@model FerstSaleReportQueryViewModel
@{ 

    var test = Model;
}
        <div class="h2">
            <p>A car is a wheeled, self-powered motor vehicle used for transportation.</p>
        </div>
 
