
@using Application.Discounts.Dto
@using Domain.Discounts
@model GetDescountsForEditViewModel
@{
    ViewData["Title"] = " ویرایش تخفیف ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">

                <h4 class="col-xl-12 col-md-12 col-sm-12 col-12 btn btn-success">    ویرایش تخفیف    </h4>

            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group  col-md-12">
                            <label asp-for="StartDate"> </label>
                            <input asp-for="StartDate" type="hidden" />
                            <input type="text" class="form-control" id="StartDateFake">
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="EndDate"> </label>
                            <input asp-for="EndDate" type="hidden" />
                            <input type="text" class="form-control" id="EndDateFake">
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="form-group  col-md-4">
                                <label asp-for="Name"> </label>
                                <input type="text" class="form-control" asp-for="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="RequiresCouponCode"> </label>
                                <input type="checkbox" class="form-control" asp-for="RequiresCouponCode">
                                <span asp-validation-for="RequiresCouponCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="CouponCode"> </label>
                                <input type="text" class="form-control" asp-for="CouponCode">
                                <span asp-validation-for="CouponCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="UsePercentage"> </label>
                                <input class="form-control" asp-for="UsePercentage">
                                <span asp-validation-for="UsePercentage" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="DiscountPercentage"> </label>
                                <input type="text" class="form-control" asp-for="DiscountPercentage">
                                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="DiscountAmount"> </label>
                                <input type="number" class="form-control" asp-for="DiscountAmount">
                                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="form-group  col-md-4">
                                <label asp-for="DiscountTypeId"> </label>
                                <select asp-for="DiscountTypeId" class="form-control">
                                    <option value="0" selected>بر اساس محصول</option>
                                </select>
                                <span asp-validation-for="DiscountTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="DiscountLimitationId"> </label>
                                <select asp-for="DiscountLimitationId" class="form-control" asp-items="@Html.GetEnumSelectList<DiscountLimitationType>()"></select>

                                <span asp-validation-for="DiscountLimitationId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="LimitationTimes"> </label>
                                <input type="text" class="form-control" value="0" asp-for="LimitationTimes">
                                <span asp-validation-for="LimitationTimes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6" id="searchProductBox">
                        <div class="row">
                            <div class="form-group  col-md-12 fa-directions">
                                <label> محصولات را انتخاب کنید</label>
                                <select class="form-control basic-single" asp-for="appliedToCatalogItem">
                                </select>
                            </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> خودرو </label>
                                    <select class="form-control basic-single" id="Cars" asp-items="(SelectList)@ViewData["Cars2"]">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> برند </label>
                                    <select class="form-control basic-single" id="Brand" asp-items="(SelectList)@ViewData["Brands2"]">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput">دسته بندی </label>

                                    <select class="form-control basic-single" id="Category" asp-items="(SelectList)@ViewData["Categories2"]">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-sm-8 my-1">
                                <label class="sr-only" for="searchproductinput"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><span><i class='fas fa-search' style='font-size:24px;color:red;'></i></span> </div>
                                    </div>
                                    <input type="text" class="form-control" id="searchproductinput" placeholder="جستجو محصول">
                                </div>
                            </div>

                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-primary" id="btnsearchproduct">جستجو</button>
                            </div>
                        </div>

                    </div>






                </div>
                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-action="index" asp-controller="Discounts" class="btn btn-info">برگشت به لیست</a>

            </form>
        </div>
    </div>
</div>
@section Styles{

    <link href="~/MdPersianDateTimePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2-bootstrap4.css" rel="stylesheet" />
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/MdPersianDateTimePicker/jquery.md.bootstrap.datetimepicker.js"></script>

    <script>
        $('.basic-single').select2({
            placeholder: '... انتخاب کنید'
        });
        $('#StartDateFake').MdPersianDateTimePicker({

            targetTextSelector: '#StartDateFake',
            targetDateSelector: '#StartDate',
            groupId: 'rangeSelector1',
            placement: 'top',
            dateFormat: 'yyyy-MM-dd HH:mm:ss',
            textFormat: 'yyyy-MM-dd HH:mm:ss',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true
        });

        $('#EndDateFake').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFake',
            targetDateSelector: '#EndDate',
            groupId: 'rangeSelector1',
            placement: 'top',
            dateFormat: 'yyyy-MM-dd HH:mm:ss',
            textFormat: 'yyyy-MM-dd HH:mm:ss',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true

        });
        $("#DiscountPercentage").parent().hide();//model_UsePercentage
        $("#CouponCode").parent().hide();
        $('#RequiresCouponCode').click(function () {
            if (this.checked) {
                $("#CouponCode").parent().show();
                $("#searchProductBox").hide();
            } else {
                $("#CouponCode").parent().hide();
                $("#searchProductBox").show();
            }
        });
        $('#UsePercentage').click(function () {
            $("#DiscountAmount").attr("value", "0");
            console.log("value : ", $("#DiscountAmount").val());

            if (this.checked) {
                $("#DiscountAmount").parent().hide();
                $("#DiscountAmount").attr("value", "0");
                $("#DiscountPercentage").parent().show();
            } else {
                $("#DiscountAmount").parent().show();
                $("#DiscountPercentage").parent().hide();
            }
        });

    </script>

    <script>
        $("#model_appliedToCatalogItem").select2({
            placeholder: "انتخاب کنید",
            allowClear: true,
            multiple: true,
            tags: true,
            tokenSeparators: [',', ' '],
            theme: "bootstrap4",

        });


        $('#btnsearchproduct').click(function (e) {
            e.preventDefault();
            var term = "";
             term = $('#searchproductinput').val();
            var categoryId = $('#Category').find('option:selected').val();
            var brandId = $('#Brand').find('option:selected').val();
            var carId = $('#Cars').find('option:selected').val();
            console.log(term + "/" + categoryId + "/" + brandId + "/" + carId + "/"  );

            $.ajax({
                type: 'GET',
                data: { term: term, categoryId: categoryId, brandId: brandId, carId: carId },
                url: "/api/DiscountApi/SearchCatalogItem",
                success: function (result) {
                    $('#appliedToCatalogItem').find('option').not(':selected').remove();
                    var resultsmap = $.map(result, function (item) {
                        return {
                            id: item.id,
                            text: item.name
                        };


                    });
                    $.each(resultsmap, function (i, currProgram) {
                        $('#appliedToCatalogItem')
                            .append($("<option></option>")
                                .attr("value", currProgram.id)
                                .text(currProgram.text));
                    });


                }
            });
        });
    </script>

}



