@model WebSite.EndPoint.Models.ViewModels.User.LoginViewModel
@addTagHelper *, DNTCaptcha.Core
@{
    ViewData["Title"] = "ورود به حساب";

}


<form asp-action="Login">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-element-row">
        <label asp-for="Email" class="label-element"></label>

        <div class="form-element-with-icon">
            <input asp-for="Email" class="input-element" />
            <i class="fad fa-user"></i>
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="form-element-row">
        <label asp-for="Password" class="label-element">
            <span class="d-flex justify-content-between">
                <span>کلمه عبور</span>
                <a href="~/account/LoginViaSms" class="link--with-border-bottom">ورود با رمز یکبار مصرف پیامکی</a>
            </span>
        </label>
        <div class="form-element-with-icon">
            <input class="input-element" asp-for="Password">
            <i class="fad fa-key-skeleton"></i>
        </div>
    </div>
    <div class="form-group form-element-row">
        <label>عبارت  را به رقم وارد نمائید</label>
        <dnt-captcha asp-captcha-generator-max="999"
                     class="input-group"
                     asp-captcha-generator-min="110"
                     asp-captcha-generator-language="Persian"
                     asp-captcha-generator-display-mode="NumberToWord"
                     asp-use-relative-urls="true"
                     asp-validation-error-message="عبارت را به رقم وارد نمائید"
                     asp-font-name="Tahoma"
                     asp-font-size="16"
                     asp-fore-color="#333333"
                     asp-back-color="#F7F9B8"
                     asp-text-box-class="form-control"
                     asp-text-box-template="<div class='ml-auto '>{0}</div>"
                     asp-validation-message-class="text-danger"
                     asp-refresh-button-class="fas fa-redo btn-sm d-none"
                     asp-use-noise="false"
                     asp-dir="rtl" />
    </div>
    <div class="form-element-row">
        <label class="container-checkbox">
            مرا به خاطر داشته باش
            <input type="checkbox" asp-for="IsPersistent" checked="checked">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="form-element-row text-left">
        <button class="btn-element btn-info-element">
            <i class="fad fa-sign-in-alt"></i>
            ورود به فروشگاه
        </button>
    </div>
    <input type="hidden" asp-for="ReturnUrl" />
</form>
<div class="auth-form-footer">
    <span>کاربر جدید هستید؟</span>
    <a href="~/account/register" class="link--with-border-bottom">ثبت نام در فروشگاه</a>
</div>

