@model WebSite.EndPoint.Models.ViewModels.Register.RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
}


<form asp-action="register" asp-controller="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (ViewBag.Errors != null)
    {
        <div class=" alert alert-danger">
            <ul>
                @foreach (var item in ViewBag.Errors)
                {
                    <li>@item</li>

                }
            </ul>
        </div>

    }
    <div class="form-element-row">
        <label asp-for="FullName" class="label-element"> </label>
        <div class="form-element-with-icon">
            <input asp-for="FullName" class="input-element">
            <i class="fad fa-user"></i>
        </div>
        <span asp-validation-for="FullName" class="text-danger"></span>

    </div>
    <div class="form-element-row">
        <label asp-for="Email" class="label-element"> </label>
        <div class="form-element-with-icon">
            <input asp-for="Email" class="input-element">
            <i class="fad fa-mailbox"></i>
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-element-row">
        <label asp-for="Password" class="label-element"> </label>
        <div class="form-element-with-icon">
            <input asp-for="Password" class="input-element">
            <i class="fad fa-key"></i>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>

    </div>
    <div class="form-element-row">
        <label asp-for="RePassword" class="label-element"> </label>
        <div class="form-element-with-icon">
            <input asp-for="RePassword" class="input-element">
            <i class="fad fa-key"></i>
        </div>
        <span asp-validation-for="RePassword" class="text-danger"></span>

    </div>
    <div class="form-element-row">
        <label asp-for="PhoneNumber" class="label-element"> </label>
        <div class="form-element-with-icon">
            <input asp-for="PhoneNumber" class="input-element">
            <i class="fad fa-mobile-alt"></i>
        </div>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

    </div>

    <div class="form-element-row">
        <label class="container-checkbox">
            <a href="#" class="link--with-border-bottom">حریم خصوصی</a> و <a href="#"
                                                                             class="link--with-border-bottom">شرایط و قوانین</a> استفاده از سرویس های سایت
            فروشگاه زنجانی  را مطالعه نموده
            و با کلیه موارد آن موافقم.
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="form-element-row text-left">
        <button class="btn-element btn-success-element">
            <i class="fad fa-user-edit"></i>
            ثبت نام در فروشگاه زنجانی
        </button>
    </div>

</form>
<div class="auth-form-footer">
    <span>قبلا ثبت‌ نام کرده‌اید؟</span>
    <a asp-area="" asp-controller="Account" asp-action="Login" class="link--with-border-bottom">وارد شوید</a>
</div>
