@using Application.Users;
@model AddUserAddressDto;

@{
    ViewData["Title"] = "افزودن آدرس";
    Layout = "~/Views/Shared/_LayoutCustomerPanel.cshtml";
}

<div class="checkout-section shadow-around">
    <div class="checkout-section-content">
        <form method="post" asp-action="AddNewAddress" asp-controller="Address" asp-area="customers" data-select2-id="select2-data-18-nzre" class="m-2">
            <div class="row" data-select2-id="select2-data-17-414m">
                <div class="col-lg-6 mb-3">
                    <div class="text-sm text-muted mb-1">استان:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element" asp-for="State">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="text-sm text-muted mb-1">شهر:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element" asp-for="City">
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 mb-3">
                    <div class="text-sm text-muted mb-1">کد پستی:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element" asp-for="ZipCode">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="text-sm text-muted mb-1"> نام گیرنده:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element" asp-for="ReciverName">
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="text-sm text-muted mb-1">آدرس کامل:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <textarea asp-for="PostalAddress" cols="30" rows="10" class="input-element"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-primary">ذخیره تغییرات <i class="fad fa-money-check-edit"></i></button>
                </div>
            </div>
        </form>

    </div>
</div>
 

<div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAddressModalLabel">ویرایش آدرس</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <div class="text-sm text-muted mb-1">نام و نام خانوادگی:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <input type="text" class="input-element" value="جلال بهرامی راد">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="text-sm text-muted mb-1">شماره موبایل:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <input type="text" class="input-element dir-ltr" value="090********">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="text-sm text-muted mb-1">استان:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <select name="" id="" class="select2 select2-hidden-accessible" data-select2-id="select2-data-1-nr7p" tabindex="-1" aria-hidden="true">
                                        <option value="0" data-select2-id="select2-data-3-h3h8">انتخاب استان</option>
                                        <option value="1">خراسان شمالی</option>
                                        <option value="2">تهران</option>
                                        <option value="3">تبریز</option>
                                        <option value="4">شیراز</option>
                                        <option value="5">کرمان</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="rtl" data-select2-id="select2-data-2-qsmz" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2--container"><span class="select2-selection__rendered" id="select2--container" role="textbox" aria-readonly="true" title="انتخاب استان">انتخاب استان</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="text-sm text-muted mb-1">شهر:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <select name="" id="" class="select2 select2-hidden-accessible" data-select2-id="select2-data-4-3url" tabindex="-1" aria-hidden="true">
                                        <option value="0" data-select2-id="select2-data-6-sdp0">انتخاب شهر</option>
                                        <option value="1">بجنورد</option>
                                        <option value="2">شیروان</option>
                                        <option value="3">اسفراین</option>
                                        <option value="4">مانه و سملقان</option>
                                        <option value="5">راز و جرگلان</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="rtl" data-select2-id="select2-data-5-7c8f" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2--container"><span class="select2-selection__rendered" id="select2--container" role="textbox" aria-readonly="true" title="انتخاب شهر">انتخاب شهر</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="text-sm text-muted mb-1">آدرس کامل:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <textarea name="address" id="address" cols="30" rows="10" class="input-element"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">ذخیره تغییرات <i class="fad fa-money-check-edit"></i></button>
            </div>
        </div>
    </div>
</div>