@using Application.Users;
@model AddUserAddressDto;
@addTagHelper *, DNTCaptcha.Core
@{
    ViewData["Title"] = "ویرایش آدرس";
    Layout = "~/Views/Shared/_LayoutCustomerPanel.cshtml";
}

<div class="checkout-section shadow-around" style=" background-color: #e7e0e0 !important;">
    <div class="checkout-section-content">
        <form method="post" asp-action="edit" asp-controller="Address" asp-area="customers" data-select2-id="select2-data-18-nzre" class="m-2">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row" data-select2-id="select2-data-17-414m">
                <div class="col-lg-6 mb-3">
                    <div class="text-sm text-muted mb-1">استان:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element" asp-for="State">
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="text-sm text-muted mb-1">شهر:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element" asp-for="City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 mb-3">
                    <div class="text-sm text-muted mb-1">کد پستی:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element" asp-for="ZipCode">
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-3">
                    <div class="text-sm text-muted mb-1"> نام گیرنده:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <input type="text" class="input-element" asp-for="ReciverName">
                            <span asp-validation-for="ReciverName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="text-sm text-muted mb-1">آدرس کامل:</div>
                    <div class="text-dark font-weight-bold">
                        <div class="form-element-row mb-0">
                            <textarea asp-for="PostalAddress" cols="30" rows="10" class="input-element"></textarea>
                            <span asp-validation-for="PostalAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-element-row">
                    <label>عبارت   را به رقم وارد نمائید</label>
                    <dnt-captcha asp-captcha-generator-max="999"
                                 class="input-group"
                                 asp-captcha-generator-min="110"
                                 asp-captcha-generator-language="Persian"
                                 asp-captcha-generator-display-mode="NumberToWord"
                                 asp-use-relative-urls="true"
                                 asp-validation-error-message="عبارت را به رقم وارد نمائید"
                                 asp-font-name="Tahoma"
                                 asp-font-size="16"
                                 asp-fore-color="#333333"
                                 asp-back-color="#F7F9B8"
                                 asp-text-box-class="form-control"
                                 asp-text-box-template="<div class='ml-auto '>{0}</div>"
                                 asp-validation-message-class="text-danger"
                                 asp-refresh-button-class="fas fa-redo btn-sm d-none"
                                 asp-use-noise="false"
                                 asp-dir="rtl" />
                </div>
                <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-primary">ذخیره تغییرات <i class="fad fa-money-check-edit"></i></button>
                </div>
            </div>
        </form>

    </div>
</div>


