@model Application.Users.Dto.ResetPasswordDto
@{
    ViewData["Title"] = "ریست رمز";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout-px-spacing">

    <div class="layout-spacing">
        <h4>ریست رمز عبور کاربر</h4>
        <hr />

            <div class="col-md-6">
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <input type="submit" value="ذخیره" class="btn btn-primary ml-3" />
                        <a class="btn btn-warning ml-1" asp-action="Index">بازگشت به لیست</a>
                    </div>
                </form>
            </div>
     
    </div>
    </div>
 

