@page
@model Admin.EndPoint.Pages.Discounts.CreateModel
@{
    ViewData["Title"] = "تخفیف ها";
}
@using Domain.Discounts;


<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">

                <h4 class="col-xl-12 col-md-12 col-sm-12 col-12 btn btn-success">   ثبت تخفیف جدید   </h4>

            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form asp-page="create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group  col-md-12">
                            <label asp-for="model.StartDate"> </label>
                            <input asp-for="model.StartDate" type="hidden" />
                            <input type="text" class="form-control" id="StartDateFake">
                            <span asp-validation-for="model.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="model.EndDate"> </label>
                            <input asp-for="model.EndDate" type="hidden" />
                            <input type="text" class="form-control" id="EndDateFake">
                            <span asp-validation-for="model.EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="form-group  col-md-4">
                                <label asp-for="model.Name"> </label>
                                <input type="text" class="form-control" asp-for="model.Name">
                                <span asp-validation-for="model.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="model.RequiresCouponCode"> </label>
                                <input type="checkbox" class="form-control" asp-for="model.RequiresCouponCode">
                                <span asp-validation-for="model.RequiresCouponCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="model.CouponCode"> </label>
                                <input type="text" class="form-control" asp-for="model.CouponCode">
                                <span asp-validation-for="model.CouponCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="model.UsePercentage"> </label>
                                <input class="form-control" asp-for="model.UsePercentage">
                                <span asp-validation-for="model.UsePercentage" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="model.DiscountPercentage"> </label>
                                <input type="text" class="form-control" asp-for="model.DiscountPercentage">
                                <span asp-validation-for="model.DiscountPercentage" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="model.DiscountAmount"> </label>
                                <input type="number" class="form-control" asp-for="model.DiscountAmount">
                                <span asp-validation-for="model.DiscountAmount" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">

                        <label> اهمیت قرار گیری در صفحه</label>
                        <select type="number" asp-for="model.Importance" class="form-control">
                            <option value="1">عادی</option>
                            <option value="2">صفحه اصلی</option>
                            <option value="3">ویژه</option>
                        </select>
                        <span asp-validation-for="model.Importance" class="text-danger"></span>


                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="form-group  col-md-4">
                                <label asp-for="model.DiscountTypeId"> </label>
                                <select asp-for="model.DiscountTypeId" class="form-control">
                                    <option value="0" selected>بر اساس محصول</option>
                                </select>
                                <span asp-validation-for="model.DiscountTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="model.DiscountLimitationId"> </label>
                                <select asp-for="model.DiscountLimitationId" class="form-control" asp-items="@Html.GetEnumSelectList<DiscountLimitationType>()"></select>

                                <span asp-validation-for="model.DiscountLimitationId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="model.LimitationTimes"> </label>
                                <input type="text" class="form-control" value="0" asp-for="model.LimitationTimes">
                                <span asp-validation-for="model.LimitationTimes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6" id="searchProductBox">
                        <div class="row">
                            <div class="form-group  col-md-12 fa-directions">
                                <label> محصولات را انتخاب کنید</label>
                                <select class="form-control basic-single" asp-for="model.appliedToCatalogItem">
                                </select>
                            </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-xl-6 col-lg-6 col-md-3 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> خودرو </label>
                                    <select class="form-control basic-single" id="Cars" asp-items="@ViewData["Cars"] as SelectList">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-3 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> برند </label>
                                    <select class="form-control basic-single" id="Brand" asp-items="@Model.Brands">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-3 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput">دسته بندی </label>

                                    <select class="form-control basic-single" id="Category" asp-items="Model.Categories">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-sm-8 my-1">
                                <label class="sr-only" for="searchproductinput"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><span><i class='fas fa-search' style='font-size:24px;color:red;'></i></span> </div>
                                    </div>
                                    <input type="text" class="form-control" id="searchproductinput" placeholder="جستجو محصول">
                                </div>
                            </div>

                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-primary" id="btnsearchproduct">جستجو</button>
                            </div>
                        </div>

                    </div>






                </div>
                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-action="index" asp-controller="Discounts" class="btn btn-info">برگشت به لیست</a>

            </form>
        </div>
    </div>
</div>
@section Styles{

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    @*<link href="~/lib/select2/css/select2-bootstrap4.css" rel="stylesheet" />*@
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.js"></script>
    <script>
        $('.basic-single').select2({
            placeholder: '... انتخاب کنید'
        });
        $('#StartDateFake').MdPersianDateTimePicker({

            targetTextSelector: '#StartDateFake',
            targetDateSelector: '#model_StartDate',
            groupId: 'rangeSelector1',
            placement: 'top',
            dateFormat: 'yyyy-MM-dd HH:mm:ss',
            textFormat: 'yyyy-MM-dd HH:mm:ss',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true
        });

        $('#EndDateFake').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFake',
            targetDateSelector: '#model_EndDate',
            groupId: 'rangeSelector1',
            placement: 'top',
            dateFormat: 'yyyy-MM-dd HH:mm:ss',
            textFormat: 'yyyy-MM-dd HH:mm:ss',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true

        });
        $("#model_DiscountPercentage").parent().hide();//model_UsePercentage
        $("#model_CouponCode").parent().hide();
        $('#model_RequiresCouponCode').click(function () {
            if (this.checked) {
                $("#model_CouponCode").parent().show();
                $("#searchProductBox").hide();
            } else {
                $("#model_CouponCode").parent().hide();
                $("#searchProductBox").show();
            }
        });
        $('#model_UsePercentage').click(function () {
            $("#model_DiscountAmount").attr("value", "0");
            console.log("value : ", $("#model_DiscountAmount").val());

            if (this.checked) {
                $("#model_DiscountAmount").parent().hide();
                $("#model_DiscountAmount").attr("value", "0");
                $("#model_DiscountPercentage").parent().show();
            } else {
                $("#model_DiscountAmount").parent().show();
                $("#model_DiscountPercentage").parent().hide();
            }
        });

    </script>

    <script src="~/lib/select2/js/select2.js"></script>
    <script>
        $("#model_appliedToCatalogItem").select2({
            placeholder: "انتخاب کنید",
            allowClear: true,
            multiple: true,
            tags: true,
            tokenSeparators: [',', ' '],
            theme: "bootstrap4",

        });


        $('#btnsearchproduct').click(function (e) {
            e.preventDefault();
            var term = $('#searchproductinput').val();
            var categoryId = $('#Category').find('option:selected').val();
            var brandId = $('#Brand').find('option:selected').val();
            var carId = $('#Cars').find('option:selected').val();
            var data = new FormData();
            data.append("term", term);
            $.ajax({
                type: 'GET',
                data: { term: term, categoryId: categoryId, brandId: brandId, carId: carId },
                url: "/api/DiscountApi/SearchCatalogItem",
                success: function (result) {
                    $('#model_appliedToCatalogItem').find('option').not(':selected').remove();
                    var resultsmap = $.map(result, function (item) {
                        return {
                            id: item.id,
                            text: item.name
                        };


                    });
                    $.each(resultsmap, function (i, currProgram) {
                        $('#model_appliedToCatalogItem')
                            .append($("<option></option>")
                                .attr("value", currProgram.id)
                                .text(currProgram.text));
                    });


                }
            });
        });
    </script>

}