
@model IEnumerable<BannerDto>
@using Application.Banners
<!--banner style3 area start-->
<div class="banner_area banner_style3 mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="~/NewThem/assets/img/bg/banner12.jpg" alt=""></a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="~/NewThem/assets/img/bg/banner13.jpg" alt=""></a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4">
                <figure class="single_banner">
                    <div class="banner_thumb">
                        <a href="shop.html"><img src="~/NewThem/assets/img/bg/banner14.jpg" alt=""></a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<!--banner style3 area end-->
