
@model IEnumerable<BannerDto>
@using Application.Banners
@if (Model != null && Model.Any())
{
    @if (Model != null && Model.Any())
    {
        <!--banner Style2 area start-->
        <div class="banner_area banner_style3 mb-80">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.Take(3))
                    {
                        <div class="col-lg-4 col-md-4">
                            <figure class="single_banner">
                                <div class="banner_thumb">
                                    <a href="@item.Link"><img src="@item.Image" alt=""></a>
                                </div>
                            </figure>
                        </div>
                    }


                </div>
            </div>
        </div>
        <!--banner Style2 area end-->
    }


}
<!--banner style3 area start-->

<!--banner style3 area end-->
