
@model IEnumerable<BannerDto>
@using Application.Banners

@if (Model != null && Model.Any())
{
    <!--banner Style2 area start-->
    <div class="banner_area mb-80">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Take(2))
                {
                <div class="col-lg-6 col-md-6">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="@item.Link"><img src="@item.Image" alt=""></a>
                        </div>
                    </figure>
                </div>
                }
                
              
            </div>
        </div>
    </div>
    <!--banner Style2 area end-->
}
