@model IEnumerable<BannerDto>
@using Application.Banners


@{ if (Model != null && Model.Count() > 0)
    {
    <section class="slider_section s_section_two mb-75">
        <div class="slider_area slider_carousel owl-carousel">

            @foreach (var item in Model)
            {
                <div class="single_slider d-flex align-items-center" data-bgimg="@item.Image">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider_content">
                                    <h1>@item.Name</h1>
                                   @Html.Raw(item.Description)
                                    <a class="button" href="~/@item.Link">
                                        اکنون خرید کنید <i class="fa fa-angle-double-left"
                                                           aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

 } }
