@page
@model Admin.EndPoint.Pages.Banners.EditModel
@{
}

<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4> ویرایش اسلایدر و بنر    </h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">

            <form asp-page="edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <label asp-for="Banner.Name"> </label>
                    <input type="text" class="form-control" asp-for="Banner.Name">
                    <span asp-validation-for="Banner.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Banner.Description" class="control-label"></label>
                    <textarea asp-for="Banner.Description" class="form-control"></textarea>
                    <span asp-validation-for="Banner.Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Banner.Link"> </label>
                    <input type="text" class="form-control" asp-for="Banner.Link">
                    <span asp-validation-for="Banner.Link" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Banner.Priority"> </label>
                    <input type="text" class="form-control" asp-for="Banner.Priority">
                    <span asp-validation-for="Banner.Priority" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Banner.IsActive"> </label>
                    <input type="text" class="form-control" asp-for="Banner.IsActive">
                    <span asp-validation-for="Banner.IsActive" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Banner.Position"> </label>
                    <select asp-for="Banner.Position" class="form-control" asp-items="@Html.GetEnumSelectList<Domain.Banners.Position>()"></select>
                    <span asp-validation-for="Banner.Position" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Banner.Image"> </label>
                    <input type="file" class="form-control" asp-for="BannerImage">
                    <span asp-validation-for="BannerImage" class="text-danger"></span>

                </div>
                <div class="form-group mb-4">

                    @if (Model.Banner.Image != "" && Model.Banner.Image != null)
                    {
                        @*<span>@Model.Banner.ShowImage</span>*@
                        <img src="@Model.Banner.ShowImage" width="300" height="175" />
                    }
                </div>
                <input type="hidden" asp-for="Banner.Image">
                <input type="hidden" asp-for="Banner.Id">
                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
            </form>

        </div>
    </div>
</div>



@section Styles{

    <link href="~/lib/trumbowyg-2_25_1/ui/trumbowyg.css" rel="stylesheet" />

}
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/lib/trumbowyg-2_25_1/trumbowyg.js"></script>
    <script>

        $(document).ready(function () {
            $('#Banner_Description').trumbowyg();
        });

    </script>
}