@model Application.Orders.Dto.FerstSaleReportQueryViewModel
<link href="~/lib/chart/Chart.min.css" rel="stylesheet" />
<link href="~/Theme/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
<link href="~/Theme/assets/css/scrollspyNav.css" rel="stylesheet" />
<script src="~/Theme/plugins/apex/apexcharts.min.js"></script>

<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->


<div class="row layout-top-spacing">

    @*<div class="col-xl-12 col-md-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-title"> نمودار نقطه به نقطه بر اساس ساعت بازدید مقایسه ای 5 روز اخیر </h5>

                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <canvas id="comparison-line-Chart" width="400" height="100"></canvas>
                </div>
                <div class="card-footer">
                    <div class="chart-legend">

                    </div>

                </div>
            </div>
        </div>*@


    <div class="col-xl-12 col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">آمار کل خرید ها بر اساس روز</h5>
                <p class="card-category"></p>
            </div>
            <div class="card-body">

                <canvas id="s-lineDay" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">

                </div>

            </div>
        </div>

      
     
    </div>
    <div class="col-xl-12 col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">آمار کل خرید ها بر اساس تعداد خرید</h5>
                <p class="card-category"></p>
            </div>
            <div class="card-body">

                <canvas id="s-lineDay2" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">

                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">آمار کل خرید ها بر اساس تعداد خریداران</h5>
                <p class="card-category"></p>
            </div>
            <div class="card-body">

                <canvas id="s-lineDay3" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">

                </div>

            </div>
        </div>
    </div>
</div>


    <script src="~/Theme/plugins/apex/apexcharts.min.js"></script>
    <script src="~/Theme/assets/js/scrollspyNav.js"></script>
    <script src="~/lib/chart/Chart.min.js"></script>

    <script>
    var TodayDisplayHour=@Html.Raw(Json.Serialize(Model.Today.SaleReport.Display));
    var TodayValueHour =@Html.Raw(Json.Serialize(Model.Today.SaleReport.Value));

    var SaleReportUserCount =@Html.Raw(Json.Serialize(Model.Today.SaleReport.UserCount));
    var SaleReportBuyCount=@Html.Raw(Json.Serialize(Model.Today.SaleReport.BuyCount));
    //مقایسه ای
    //var ctxComparison = document.getElementById("comparison-line-Chart").getContext('2d');
    //var myChart = new Chart(ctxComparison, {
    //    type: 'line',
    //    data: {
    //        labels: TodayDisplayHour,
    //        datasets: [
    //            {
    //                borderColor: "#006400",
    //                label: 'امروز',
    //                data: TodayValueHour,
    //                borderWidth: 3,
    //            },
    //            {
    //                borderColor: "#2793DB",
    //                label: 'روز قبل',
    //                data: YesterDayValueHour,
    //                borderWidth: 3,
    //            },
    //            {
    //                borderColor: "#7FFF00",
    //                label: '2 روز قبل',
    //                data: TwoDayEgoValueHour,
    //                borderWidth: 3,
    //            },
    //            {
    //                borderColor: "#DC143C",
    //                label: '3 روز قبل',
    //                data: ThreeDayEgoValueHour,
    //                borderWidth: 3,
    //            },
    //            {
    //                borderColor: "#8A2BE2",
    //                label: '4 روز قبل',
    //                data: FourDayEgoValueHour,
    //                borderWidth: 3,
    //            },
    //            {
    //                borderColor: "#B8860B",
    //                label: '5 روز قبل',
    //                data: FiveDayEgoValueHour,
    //                borderWidth: 3,
    //            }
    //        ]
    //    },
    //    options: {
    //        scales: {
    //            xAxes: [{
    //                ticks: {
    //                    fontSize: 15,
    //                    fontColor: 'black',
    //                    fontWeight: "bold",
    //                }
    //            }]
    //        }
    //    }
    //});
    // ساده میله ای
    var ctx = document.getElementById("s-lineDay").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: TodayDisplayHour,
            datasets: [{
                label: 'فروش(تومان) ',
                data: TodayValueHour,
                backgroundColor: "rgba(234, 0, 0,0.4)"
            }]
        },
        options: {
            animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                        delay = context.dataIndex * 3000 + context.datasetIndex * 100;
                    }
                    return delay;
                },
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontSize: 15,
                        fontColor: 'black',
                        fontWeight: "bold",
                    }
                }]
            }
        }
    });
    var ctx2 = document.getElementById("s-lineDay2").getContext('2d');
    var myChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: TodayDisplayHour,
            datasets: [{
                label: 'فروش(تومان) ',
                data: SaleReportBuyCount,
                backgroundColor: "rgba(50, 0, 0,0.4)"
            }]
        },
        options: {
            animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                        delay = context.dataIndex * 3000 + context.datasetIndex * 100;
                    }
                    return delay;
                },
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontSize: 15,
                        fontColor: 'black',
                        fontWeight: "bold",
                    }
                }]
            }
        }
    });
    var ctx3 = document.getElementById("s-lineDay3").getContext('2d');
    var myChart3 = new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: TodayDisplayHour,
            datasets: [{
                label: 'فروش(تومان) ',
                data: SaleReportUserCount,
                backgroundColor: "rgba(152, 0, 0,0.4)"
            }]
        },
        options: {
            animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                        delay = context.dataIndex * 3000 + context.datasetIndex * 100;
                    }
                    return delay;
                },
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontSize: 15,
                        fontColor: 'black',
                        fontWeight: "bold",
                    }
                }]
            }
        }
    });
    </script>
