@model Application.Orders.Dto.FerstSaleReportQueryViewModel
<link href="~/lib/chart/Chart.min.css" rel="stylesheet" />
<link href="~/Theme/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
<link href="~/Theme/assets/css/scrollspyNav.css" rel="stylesheet" />
<script src="~/Theme/plugins/apex/apexcharts.min.js"></script>

<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->


<div class="row layout-top-spacing">

    <div class="col-xl-5 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="widget widget-table-one">
            <div class="widget-heading">
                <h5 class="">آمار امروز</h5>
            </div>


        </div>
    </div>

</div>


<script src="~/Theme/plugins/apex/apexcharts.min.js"></script>
<script src="~/Theme/assets/js/scrollspyNav.js"></script>
<script src="~/lib/chart/Chart.min.js"></script>

